{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "eslint-plugin-prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
